@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
}

body {
    color: #FEFAE0;    
    background-color: #2a2b38;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
}


nav {
    background-color: #FEFAE0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;

}

.logoutbtn {
    margin-right: 20px;
    background-color: #2a2b38;
    border: none;
    border-radius: 3px;
    color: #FEFAE0;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

nav a {
    font-size: 1.4em;
    font-weight: 700;
    color: #2a2b38;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 20px;
}

h1 {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 20px;
}

h3 {
    padding-left: 40px;
    padding-bottom: 50px;
    font-size: 1.2rem;
    font-weight: 500;
}
h3 strong{
    font-size: 1.25rem;
    font-weight: 600;
}
.information strong{
    font-weight: 700;
    font-size: 1.25rem;
}
h4{
    color: #2a2b38;
    padding-top: 20px;
    font-weight: 700;
    font-size: 1.25rem;
    text-decoration: underline dotted;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flip-card {
    width: 350px;
    height: 400px;
    perspective: 1000px;
    padding-left: 30px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.flip-card-front {
    background-color: rgba(255, 255, 255, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flip-card-front img{
    border-radius: 3px;
    width: 280px;
    max-height: 100%;
}
.flip-card-back {
    background-color: rgba(255, 255, 255, 0.3);
    color: #FEFAE0;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.card-content {
    padding: 20px;
    text-align: center;
}
  
.card-content h2 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    text-decoration: underline;
}
  
.card-content p {
    font-size: 16px;
    margin-bottom: 20px;
}
  
.btn {
    padding: 10px 20px;
    background-color: #FEFAE0;
    color: #2a2b38;
    text-decoration: none;
    border-radius: 5px;
}
  
.btn:hover {
    background-color: #7D869C;
    color: #FEFAE0;
}
  
.attribute{
    position: absolute;
    bottom: 10px;
}

footer {
    margin-top: 60px;
    position: flex;
    display: flex;
    align-items: end;
    justify-content: center;
}
